{% extends "base_acad.html" %}
{% block main_content %}
            <ul class="nav nav-tabs">
              <li role="presentation"><a href="/acad">updates</a><li>
              <li role="presentation" class="active"><a href="/acad/info">info</a><li>
            </ul>
            <br>
            <div>
                <p>The Academics Society of IIT Mandi is one of seven societies at IIT Mandi.</p>
                <hr>
                <p>
                <b>Academics Secretary</b>:<br>
                Harsit Singhal
                </p>
            </div>
{% endblock %}
