{% extends "base_literary.html" %} {% block main_content %}
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/literary">updates</a>
        <li>
            <li role="presentation" class="active"><a href="/literary/info">info</a>
                <li>
</ul>
<br>
<div>
    <p>The English Debating &amp; Literary Society (EDLS) was one of the first clubs to be founded at IIT Mandi. It's pretty sick.</p>
    <hr>
    <p>
        <b>Coordinator</b>:
        <br> Farah Anjum
    </p>
</div>
{% endblock %}
